.navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &__item {
    padding: 0 15px;
    height: 55px;
    display: flex;
    align-items: center;
    color: $color-grey-medium-dark;
    text-decoration: none;
    transition: 250ms ease-in-out;
    border-radius: 12px;

    &:hover {
      background: $color-primary;
      color: $color-white;

      &:before {
        filter: brightness(2);
      }
    }

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 25px;
      transition: 250ms ease-in-out;
    }

    &--choice:before {
      background-image: url("../assets/icons/choice.svg");
    }

    &--saved:before {
      background-image: url("../assets/icons/bookmark.svg");
    }

    &--orders:before {
      background-image: url("../assets/icons/document.svg");
    }

    &--email:before {
      background-image: url("../assets/icons/email.svg");
    }

    &--settings:before {
      background-image: url("../assets/icons/settings.svg");
    }
  }

  & .selected {
    background: $color-primary;
    color: $color-white;

    &:before {
      filter: brightness(2);
    }
  }

  & .disabled {
    color: $color-grey-medium;
    cursor: not-allowed;

    &:hover {
      background: none;

      &:before {
        filter: brightness(1);
      }
    }
  }
}
