.user {
  margin-top: auto;
  display: flex;
  font-size: 11px;
  align-items: center;
  color: $color-grey-medium-dark;

  &__image {
    margin-right: 20px;
  }

  &__name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $color-grey-dark;
  }
}
