$font-primary: 'Open-Sans', sans-serif;

$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-grey-medium: #a3a3a3;
$color-grey-medium-dark: #626264;
$color-grey-dark: #182135;

$color-primary: #503E9D;
$color-orange: #FB6D3A;
