.delivery-option {
  margin: 50px 0;
  font-size: 16px;
  font-weight: 700;
  color: $color-grey-dark;

  &__title {
    color: $color-orange;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
